
.main_bg{
    background-image: url('../img/main_bg.svg');
    background-size: cover;
    background-position: center center;
    margin: 0;
    color: var(--white-color) ;
}

.white_bg{
    color: var(--primary-color);
    background: var(--white-color) ;
}

.main_content{
    max-width: 120rem;
    margin: 0 auto;
    padding: 8rem var(--gap);
}

.section{
    min-height: 100vh;
}

body .full_width{
    width: 100%;
    flex-grow: 1 1 100%;
}